/* 00 css variable*/

:root{
    --body-color: darkslategray;
    --page-color: rgb(252, 252, 214);
    --sidebar-color: rgb(142, 247, 230);
    /*Font color*/
    --font-color: rgb(1, 1, 48);
    /*h1 color*/
    --h1-color: var(--body-color);
    /* layout variables */
    --page-top-positiion: 90%;
    --page-width: 20%;
    --bottom-bar-height: 10vh;
    --bottom-bar-color: rgb(109, 63, 16) ;
}
/* 01 color */
body{
    background-color: var(--body-color);
    color: var(--page-color);
    margin: 0;
}
#zen-intro, #zen-supporting{
    background-color: var(--page-color);
    color: var(--font-color);
}
.sidebar{
    background-color: var(--sidebar-color);
    color: var(--body-color);
}
h1{
    color: var(--h1-color);
}

/* 02 Layout*/
div.explanation, div.requirements, div.benefits, div.participation{
    position: fixed;
    width: var(--page-width);
    top:var(--page-top-positiion);
    background-image: url(../img/newspaper3.jpg);
    padding-left: 5px;

}
div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3{
    margin-top: -5%;
    text-shadow: 0 0 5px white;
}

div.explaination{
    left: 0%;
}
div.requirements{
    left: 18%;
}
div.benefits{
    left: 33%;
}
div.participation{
    left: 43%;
}
aside.sidebar{
    position: absolute;
    top: 20%;
    right: 0;
    width: 15%;
}
section.intro{
    position: fixed;
    bottom: 7%;
    width: 35%;
    right: 30%;
    top: 5%;
    background-image: url(../img/newspaper1.jpg);
    padding: 2%;
    border: outset 2px black;
    text-align: center;

}

div.extra2{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: var(--bottom-bar-color);

}

div.extra1{
    position: fixed;
    bottom: 5%;
    width: 35%;
    left: 10%;
    top: 10%;
    background-image: url(../img/newspaper2.jpg);
    z-index: -1;

}

@font-face {
    font-family: 'my font';
    src: url(../fonts/chunkfive.eot);
}

header h1{
    font-family: 'my font', sans-serif;
    font-weight: 100;
    font-size: large;
    letter-spacing: normal;
    line-height: 1em;
}

header h2,h3{
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: small;
    letter-spacing: normal;
    line-height: 1em;
}

.intro p{
    font-family: 'Macondo';
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
}

#design-selection h3{
    visibility: hidden;
}

#design-archives, #zen-resources{
    visibility: hidden;
}