/* 00 css variable*/

:root{
    --body-color: darkslategray;
    --page-color: rgb(252, 252, 214);
    --sidebar-color: rgb(142, 247, 230);
    /*Font color*/
    --font-color: rgb(1, 1, 48);
    /*h1 color*/
    --h1-color: var(--body-color);
    /* layout variables */
    --page-top-positiion: 90%;
    --page-width: 20%;
    --bottom-bar-height: 10vh;
    --bottom-bar-color: rgb(109, 63, 16) ;
    --insanity-shadow: 91px 2px 3px red, -124px 14px 3px blue, 7px 28px 3px purple, 10px -8px 3px green, -10px -8px 3px wheat
    , -117px -6px 3px black, 114px 34px 3px yellow, -1px -2px 3px olive, 11px 20px 6px firebrick, -5px 6px 4px darkblue,
    129px -32px 5px khaki, 3px 1px 0px aliceblue, -20px 20px 2px blueviolet;
}
/* 01 color */
body{
    background-color: var(--body-color);
    color: var(--page-color);
    margin: 0;
}
#zen-intro, #zen-supporting{
    background-color: var(--page-color);
    color: var(--font-color);
}
.sidebar{
    background-color: var(--sidebar-color);
    color: var(--body-color);
}
h1{
    color: var(--h1-color);
    text-shadow: var(--insanity-shadow);
}

/* 02 Layout*/
div.explanation, div.requirements, div.benefits, div.participation{
    position: fixed;
    width: var(--page-width);
    top:var(--page-top-positiion);
    background-image: url(../img/newspaper3.jpg);
    padding-left: 5px;
    transition: all 2s ease-in-out;

}
div.explanation h3, div.requirements h3, div.benefits h3, div.participation h3{
    padding-left: 0%;
    margin-top: -5%;
    text-shadow: 0 0 5px white;
    z-index: 1;
    background-color: chocolate;
    background-size: cover;
    border-top-right-radius: 50%;
}

div.explaination{
    left: 0%;
    padding-right: 10px;
}
div.requirements{
    left: 18%;
}
div.benefits{
    left: 38%;
}
div.participation{
    left: 58%;
}
aside.sidebar{
    position: absolute;
    top: 20%;
    right: 0;
    width: 15%;
}
section.intro{
    position: fixed;
    bottom: 7%;
    width: 30%;
    right: 30%;
    top: 3%;
    background-image: url(../img/newspaper1.jpg);
    padding: 2%;
    border: outset 2px black;
    text-align: center;
    box-shadow: -5px 5px 10px black;
    line-height: 0.5em;
    transform: rotate(20deg);
}

div.extra2{
    position: fixed;
    bottom: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: var(--bottom-bar-height);
    background-color: var(--bottom-bar-color);
}

div.extra1{
    position: fixed;
    bottom: 5%;
    width: 35%;
    left: 10%;
    top: 10%;
    background-image: url(../img/newspaper2.jpg);
    z-index: -1;
    transform: rotate(-10deg);
}

@font-face {
    font-family: 'my font';
    src: url(../fonts/chunkfive.eot);
}

header h1{
    font-family: 'my font', sans-serif;
    font-weight: 100;
    font-size: large;
    letter-spacing: normal;
    line-height: 1em;
}

header h2,h3{
    font-family: 'Press Start 2P';
    font-weight: 100;
    font-size: 13px;
    letter-spacing: normal;
    line-height: 1em;
}

.intro p{
    font-family: 'Macondo';
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
}

#design-selection h3{
    visibility: hidden;
}

#zen-resources{
    visibility: hidden;
}

#design-archives{
    display: none;
}

a:hover{
    font-size: 1.5em;

}

div.explanation:hover, div.requirements:hover, div.participation:hover, div.benefits:hover{
    top: 15vh;
    height: 90vh;
}

p::first-letter{
    font-size: 25px;
    font-family: 'Jacquarda Bastarda 9 Charted';
}

/* transform and transition practice */

section.intro h3 ~p{
    opacity: 1;
    transition: all 2s ease-in-out;
}

section.intro h3:hover ~p{
    transform: scale(0.5);
    opacity: 0;
}

@keyframes backandforth {
    from{transform: translate(-50px,0) ;}
    25%{transform:  translate(500px,0);}
    15%{transform:  translate(100px,0);}
    75%{transform:  translate(-300px,0);}
    64%{transform:  translate(200px,0);}
}

footer{position: fixed;
bottom: 1vh;
left: 50%;
z-index: 4;
animation: 10s ease-in-out 2s alternate infinite backandforth;}

/* fun features */
aside.sidebar{
    clip-path: polygon(0 0, 0 60%, 50% 80%, 100% 60%, 100% 0);
}